.mat-mdc-tab-label-container {
    margin: 0px !important;
}

.mat-mdc-tab-body-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.mdc-tab {
    padding-right: 0px !important;
    padding-left: 0px !important;
}