<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        *ngIf="!child"
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a routerLink="/messages" class="whitespace-nowrap text-primary-500">Message</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" svgIcon="heroicons_solid:chevron-right"></mat-icon>
                    <a class="ml-1 text-primary-500">{{ item?.id ?? 'Nuovo' }}</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{ item?.titolo ?? 'Nuovo' }}
                </h2>
            </div>
        </div>
    </div>

    <!-- Progressbar -->
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

    <!-- Main -->
    <div class="flex-auto" [ngClass]="child ? 'py-4 px-0 sm:py-2 sm:px-0' : 'p-6 sm:p-10'" *ngIf="form">
        <form [formGroup]="form" class="flex flex-col p-8 pb-0 bg-card rounded-2xl shadow overflow-hidden">
            <mat-form-field class="fuse-mat-dense flex-auto mb-3" subscriptSizing="dynamic">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="name" #name />
                <mat-error *ngIf="form.controls['name'].invalid">
                    <validation-errors [form]="form.controls['name']"></validation-errors>
                </mat-error>
            </mat-form-field>

            <!-- Navigation Bar -->
            <form-navigation (goBack)="goToBack()" (submit)="submit()" (salvacontinua)="submit(true)" [isChild]="child"></form-navigation>
        </form>
    </div>
</div>
